{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="my-5">Découvrez nos opportunités d'investissement</h1>
            {% for project in projects %}
                {% if loop.first or loop.index0 % 3 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ project.imageURL }}" alt="project">
                        <div class="card-body">
                            <h5>{{ project.title }}</h5>
                            <p class="card-text">
                                {{ project.description }}
                            </p>
                            {% set pledged = 0 %}
                            {% for funding in fundings %}
                                {% if project.id == funding.projectID %}
                                    {% set pledged = pledged + funding.funding  %}
                                {% endif %}
                            {% endfor %}
                            <p><b>Appel de fond</b> : {{ project.callForFund|number_format(0, ',', ' ')   }} €</p>
                            <p><b>Sommes engagées</b> : {{ pledged|number_format(0, ',', ' ')   }} €</p>
                            {% if project.isFunded == false %}
                                <a class="btn btn-block btn-primary gold" href="/invest?projectname={{ project.title }}">Investir</a>
                            {% else %}
                                <a class="btn btn-block btn-primary grey" href="#">Projet financé</a>

                            {% endif %}
                        </div>

                    </div>
                </div>
                {% if not loop.first and (loop.last or loop.index % 3 == 0 ) %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}